button {

  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: none;
  border-radius: 10px;
  padding: 7.5px;
  transition: transform 0.6s;
  box-shadow: 0px 4px 4px #00000040;

}

button:hover { transform: scale(1.05); }
button:active { transform: scale(1.33); }
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none !important;
}

#botonBuscar, #botonNuevoRegistro, #botonVolver, #edicionVolver, #botonInicioSesion {

  background: linear-gradient(
    180deg,
    rgba(65, 163, 255, 1) 0%,
    rgba(0, 132, 255, 1) 100%
  );
  width: 215px;

}

#datosCiudadanoVolver, #botonInicioSesion { width: 325px; }

#botonNuevoRegistro { padding: 7.5px; }

#botonesMapa {

 display: flex;
 flex-direction: column;
 gap: 10px;

}

#botonCapturarUbicacion, #botonEditar {

width: 215px;
background: linear-gradient(
    180deg,
    #0070D9 0%,
    #0054A2 100%
  );

}

#botonCapturarUbicacion { margin-bottom: 20px; }

#ubicacionCorrecta, #seccionEnvio #boton {

  background: linear-gradient(
    180deg,
    #3FC733 0%,
    #00B200 100%
  );

}

#ubicacionIncorrecta, #botonEliminar, #ubicacionCancelar, #cancelar {

  background: linear-gradient(
    180deg,
    #C73333 0%,
    #B20000 100%
  );

}

#edicionVolver, #botonVolver { width: 310px; }
#botonEliminar, #cancelar, #seccionEnvio #boton { width: 215px; }

#botonesEdicion, #botonesEdicion center { 

  display: flex;
  flex-direction: column;
  gap: 30px; 

}
#botonesEdicion center { flex-direction: row; }