#contenedorBusqueda p { font-size: 25px; }

#contenedorBusqueda input {

  width: 200px;
  font-size: 17.5px;
  font-weight: 500;

}

#contenedorBusqueda {

 display: flex;
 align-items: center;
 flex-direction: column;
 margin-top: 20px;

}

